@use "../variables/index.scss" as v;

.autocomplete {
    position: relative;
    display: inline-block;
    input {
        border: 1px solid rgb(182, 180, 180) !important;
        background-color: v.$clear-blue;
        padding: 10px;
        font-size: 16px;
    }
    .country-main-form {
        border: 1px solid rgb(182, 180, 180) !important;
        background-color: white;
        width: 100%;
    }
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: v.$background-bone;
        color: black;
        border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
        background-color: DodgerBlue !important;
        color: black;
    }
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: black;
    }
}